@import '../../../../../variables';

.editor-preview {
    width: 100%;
    margin-bottom: $medium-gap;

    input {
        width: 100%;
        padding: $medium-gap;
    }
}

.preview-window {
    width: 80vw;
    padding: $medium-gap;
    max-height: 70vh;
    overflow: scroll;
}
