<nb-card>
  <nb-card-body>
      <nb-layout>
          <nb-sidebar containerFixed="false" fixed="false" right="true">
                <nb-user
                    [name]="post.author ? post.author.primaryName ? post.author.primaryName.name : post.author.id : 'Unknown'"
                    size="large"
                    >
                </nb-user>
          </nb-sidebar>
          <nb-layout-column>
              <div [innerHtml]="post.text | rendermd">
              </div>
          </nb-layout-column>
      </nb-layout>
  </nb-card-body>
</nb-card>
