@import 'variables';

html,
.nb-theme-default nb-layout .layout,
.nb-theme-default nb-menu,
.nb-theme-default h1, .nb-theme-default h2, .nb-theme-default h3, .nb-theme-default h4, .nb-theme-default h5, .nb-theme-default h6, .nb-theme-default .h1, .nb-theme-default .h2, .nb-theme-default .h3, .nb-theme-default .h4, .nb-theme-default .h5, .nb-theme-default .h6 {
    font-family: "Inter UI var", sans-serif;
}

.content.column img {
    max-width: 100%;
}

.nb-theme-default a {
    color: inherit;
}

.nb-theme-default a:hover {
    color: $main-colour;
}

post nb-card blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 1rem solid $main-colour;
    padding-top: $small-gap;
    padding-bottom: $small-gap;
}
